
.table td, .table th{
    border: 1px solid black;
    padding: 20px;
}

table{
    margin-bottom: 5px;
}
.table-area{
   
}
.filter-area{
    display: flex;
    flex-direction: row;
    margin-bottom:8px ;
}
