.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

button{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: aqua;
   }
   input{
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
   }
   .todo-display {
    border: 2px solid black;
    width: 40%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}
