.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid black;
    width: 60%;
    height: auto;
    border-radius: 5px;
    padding: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%
}

input{
    margin-top: 3px;
    width: 100%;
    border: 2px solid black;
}

select{
    border: 2px solid black;
    width: 100%; 
    border-radius: 7px;
    padding: 5px;
}
form button{
    border: 2px solid black;
    width: 110%; 
    border-radius: 5p;
    padding: 5px; 
}
span{
    color: red;

}